# Don't revise bootanimation service settings. 
# A side-effect happens if you revise.
service bootanim /system/bin/bootanimation
    class core
    user graphics
    group graphics system
    disabled
    oneshot